
.form--content {
    width: 100%;
    overflow: hidden;
    border-radius: .5rem;
    background-color: var(--bs-light);
    box-shadow: 0 0 40px #50505065;
}

.form__title {
    padding: 1rem;
    font-weight: normal;
    font-size: 1.5rem;
    color: var(--bs-blue);
    border-bottom: 1px solid #ccc;
}

.form > .form__title {
    text-align: center;
}

.form {
    padding: 1.5rem;
}

.form-group {
    margin: 1rem 0;
}

.form-group label {
    display: block;
    color: var(--bs-blue);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    color: var(--bs-dark);
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: .5rem;
    transition: var(--transition1);
    border: .1rem solid var(--bs-gray);
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: var(--bs-gray);
}

.form-group input {
    height: 3rem;
}

.form-group select {
    color: var(--bs-blue);
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border: none;
    transform: scale(1.008);
    outline: .2rem solid var(--bs-info);
    box-shadow: 0 0 2rem #1e8fff59;
}

.form--btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

